---
import Layout from "~/layouts/Layout.astro";
import Hero from "~/components/Hero.astro";
import Features from "~/components/Features.astro";

import BrandDescription from "~/components/BrandDescription.astro";
import BrandItems from "~/components/BrandItems.astro";

import items from "~/data/dermapen/items";
import Container from "~/components/Container.astro";
import ProductComparativeTable from "~/components/ProductComparativeTable.astro";
---

<Layout title="Resenas" description="Reseñas de Derma Pen">
  <main>
    <Hero
      preTitle={`<span class="text-primary dark:text-white">Reseñas</span> de los mejores derma pen.`}
      title="Reseñas"
      description="Según nuestra experiencia, estos son los mejores derma pen que puedes comprar. Te contamos sus ventajas y desventajas. Nuestro elegido es el Dr. Pen Ultima A6."
      cta={{
        target: "_blank",
        text: `Comprar ${items[0].title}`,
        url: items[0].url,
      }}
    />

    <BrandDescription
      title="Los 10 mejores dermapen del mercado."
      description={`<p></p>`}
    />

    <BrandItems items={items} />

    <Container>
      <h2
        class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl"
      >
        Comparativa de los mejores <span class="text-primary dark:text-white"
          >Derma Pen</span
        >
      </h2>
    </Container>
    <ProductComparativeTable items={items} />
  </main>
</Layout>
