---
import Layout from "~/layouts/Layout.astro";
import Hero from "~/components/Hero.astro";
import Features from "~/components/Features.astro";

import BrandDescription from "~/components/BrandDescription.astro";
import BrandItems from "~/components/BrandItems.astro";

import items from "~/data/dermapen/items";
---

<Layout title="Resenas" description="Reseñas de Derma Pen">
  <main>
    <Hero
      preTitle={`<span class="text-primary dark:text-white">Reseñas</span> de los mejores derma pen.`}
      title="Reseñas"
      description="Según nuestra experiencia, estos son los mejores derma pen que puedes comprar. Te contamos sus ventajas y desventajas. Nuestro elegido es el Dr. Pen Ultima A6."
      cta={{
        target: "_blank",
        text: `Comprar ${items[0].title}`,
        url: items[0].url,
      }}
    />

    <BrandDescription
      title="Los 10 mejores dermapen del mercado."
      description={`<p></p>`}
    />

    <BrandItems items={items} />
  </main>
</Layout>
