---
import Container from "./Container.astro";
---

<Container>
  <h2 class="text-2xl text-gray-900 dark:text-white text-center mt-12">
    Mejores marcas
  </h2>
  <div
    class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-6 content-center items-center dark:invert mt-3"
    id="brands"
  >
    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
      <a href="/dr-pen">
        <img
          src="./images/brands/drpen.webp"
          class="h-100 w-auto mx-auto"
          loading="lazy"
          alt="Dr. Pen"
          width=""
          height=""
        />
      </a>
    </div>
    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
      <a href="/hydrapen">
        <img
          src="./images/brands/hydrapen.webp"
          class="h-100 w-auto mx-auto"
          loading="lazy"
          alt="client logo"
          width=""
          height=""
        />
      </a>
    </div>
    <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
      <a href="/dermapen">
        <img
          src="./images/brands/dermapen.webp"
          class="h-100 w-auto m-auto"
          loading="lazy"
          alt="DermaPen"
          width=""
          height=""
        />
      </a>
    </div>

    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
      <a href="/mrpin">
        <img
          src="./images/brands/mrpin.webp"
          class="h-100 w-auto mx-auto"
          loading="lazy"
          alt="Skin Pen"
          width=""
          height=""
        />
      </a>
    </div>

    <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
      <a href="/tbphp">
        <img
          src="./images/brands/tbphp.webp"
          class="h-100 w-auto m-auto"
          loading="lazy"
          alt="TBPHP"
          width=""
          height=""
        />
      </a>
    </div>
    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
      <a href="/bowka">
        <img
          src="./images/brands/bowka.webp"
          class="h-100 w-auto mx-auto"
          loading="lazy"
          alt="BOWKA"
          width=""
          height=""
        />
      </a>
    </div>
  </div>
</Container>
