---
import Container from "./Container.astro";
import { Image } from "astro:assets";

import brands from "~/data/brands/data";
---

<Container>
  <h2 class="text-2xl text-gray-900 dark:text-white text-center mt-12">
    Mejores marcas
  </h2>
  <div
    class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-6 content-center items-center dark:invert mt-3"
    id="brands"
  >
    {
      brands.map((item) => (
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <a href={item.slug}>
            <Image
              src={item.image}
              class="h-100 w-auto mx-auto"
              loading="lazy"
              alt={item.name}
              width="173"
              height="50"
            />
          </a>
        </div>
      ))
    }
  </div>
</Container>
